#wrap
{
//	width: 600px;
//	height: 300px;
}

* 
{ 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.board 
{ 
	width: 100%;
	max-width: 100%; 
	min-width: 600px; 
	margin: 0 auto; 
}
.column 
{ 
	height: 500px;
	width: 12.5%; 
	float: left; 
	min-height: 300px;
	position: relative;
	padding-right: 1px;
	padding-left: 1px;
}
[class*="column"] + [class*="column"]:last-child { float: right; }

.feature, .detector, .effector, .alarm
{
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid #333;
	padding: 1%;
	opacity: 0.25;
}

@-webkit-keyframes 'select' {
	from { 
		opacity: 0.5;
		-webkit-transform: rotateX(180deg);
	}
	to { 
		opacity: 1;
		-webkit-transform: rotateX(360deg);
	}
}
@-webkit-keyframes 'deselect' {
	from { 
		opacity: 1;
		-webkit-transform: rotateX(360deg);
	}
	to { 
		opacity: 0.5;
		-webkit-transform: rotateX(180deg);
	}
}

@keyframes 'rectify' {
from { 
	transform: rotate(0deg) scale(1.0);
}
50% {
	transform: rotate(180deg) scale(0.5);
}
to { 
	transform: rotate(360deg) scale(1.0);
}
}

.feature, .detector  
{ 
	width:100%; 
	height: 16.66%;
}
.effector, .alarm 
{ 
	width:50%; 
	float: left; 
	height: 33.33%; 
}

.feature
{
	background-color: #f8b000;
}
.detector
{
	background-color: #58ae49;	
}
.effector
{
	background-color: #f40000;
}
.alarm
{
	background-color: #b1ff52;
}

#Quiz1, #Quiz2, #Quiz3, #Quiz4
{
	width: 100%; height: 4em; text-align: center;
}
#Quiz1 { background-color: #00f000; }
#Quiz2 { background-color: #40c000; }
#Quiz3 { background-color: #808000; }
#Quiz4 { background-color: #f40000; }
#ClearBoardButton {
	width: 100%; height: 1.5em; text-align: center; background-color: #0000ff;
	color:  #ffffff;
}

.detecting {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0px 0px 0.5em 0.5em rgba(255,155,0,0.75);
}
.detected {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0px 0px 0.5em 0.5em rgba(255,155,0,0.75);
}
.e1.disabling {
    border-top-left-radius: 3em;
    padding-left: 1em;
    border-top-style: dashed;
    border-top-color: white;
}
.e2.disabling {
    border-top-right-radius: 3em;
    padding-right: 1em;
    border-top-style: dashed;
    border-top-color: white;
}
.disabled0 {
    padding-left: 1em;
    border-left-color: red;
    border-bottom-left-radius: 3em;
    border-bottom-style: dashed;
    border-bottom-color: white;
    background-image: url('http://placedog.com/170/80');
}
.disabled1 {
    padding-right: 1em;
    border-right-color: red;
    border-bottom-right-radius: 3em;
    border-bottom-style: dashed;
    border-bottom-color: white;
    background-image: url('http://placekitten.com/171/80');
}
.disabled0.disabled1 {
    background-image: url('http://placesheen.com/172/80');
}
.disabling:after {
    content: " - DISABLING DETECTOR";
}
.disabled0:before {
    content: "DISABLED - ";
}
.disabled1:before {
    content: "DISABLED - ";
}
.alarming:after {
    content: " - TRIGGERING ALARM";
}
.alarming {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0px 0px 0.5em 0.5em rgba(255,0,0,0.75);
}
.alarmed {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0px 0px 0.5em 0.5em rgba(255,0,0,0.75);
}
.alarmed:after {
    content: " - TRIGGERED";
}
.detecting:after {
    content: " - DETECTING MAMP";
}
.detected:after {
    content: " - DETECTED";
}

