[submodule "Red Queen Cards - HTML5/js/vendor/jquery"]
	path = Red Queen Cards - HTML5/js/vendor/jquery
	url = git@github.com:b-adams/jquerymx.git
[submodule "Red Queen Cards - HTML5/js/vendor/documentjs"]
	path = Red Queen Cards - HTML5/js/vendor/documentjs
	url = git@github.com:b-adams/documentjs.git
[submodule "Red Queen Cards - HTML5/js/vendor/steal"]
	path = Red Queen Cards - HTML5/js/vendor/steal
	url = git@github.com:b-adams/steal.git
[submodule "Red Queen Cards - HTML5/js/vendor/funcunit"]
	path = Red Queen Cards - HTML5/js/vendor/funcunit
	url = git@github.com:b-adams/funcunit.git
[submodule "Red Queen Cards - HTML5/js/vendor/jquery-ZenCoding"]
	path = Red Queen Cards - HTML5/js/vendor/jquery-ZenCoding
	url = git@github.com:b-adams/jquery-ZenCoding.git
